* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d1ca6b;
}

header {
    background-color: #d1ca6b;
}

header div {

    width: 200px;
    margin: 20px auto;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #645e00;
    color: #fff;
    padding: 1rem;
    text-align: center;
    animation: backgroundAnimation 5s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-color: #640000;
    }
    25% {
        background-color: #703f00;
    }
    50% {
        background-color: #807300;
    }
    75% {
        background-color: #642d00;
    }
    100% {
        background-color: #856c00;
    }
}

main {
    display: grid;
    grid-template-columns:  repeat(4, minmax(100px, 200px));
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    align-items: center;
    background-color: #d1ca6b;
}

main img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#cargando {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 10;
}

#enlarged-image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 11;
    width: 50%;
    height: 50%;
}

#enlarged-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 5px solid #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#country-name {
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    font-size: 4rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}